/* text */
h1 {
  font-size: 30pt;
}

h2 {
  font-size: 24pt;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Logo properties */
.TopLogo {
  position: absolute;
  top: 35px;
  left: 8.33%;
  z-index: 3;
}

/*Home Page*/
.HomeBackground {
  background-image: url(../graphics/digitaltouch_bg_mobile.png);
  background-color: #002937;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: 100%;
  color: #ffffff;
  padding-bottom: 178%;
  position: relative;
}

.banner {
  color: #ffffff;
  font-family: "Oxygen", sans-serif;
  font-size: 20pt;
  font-weight: bold;
  left: 8.33%;
  line-height: 150%;
  position: absolute;
  text-align: left;
  top: 15.15%;
  width: 83.33%;
}

/* Portfolio banner properties*/
.PortfolioBanner {
  background-color: #18E8ED;
  font-family: "Museo Sans Rounded", sans-serif;
  font-size: 24pt;
  font-weight: 900;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

/* Featured Project Cards*/
.HomeBgTexture {
  background-image: url(../graphics/background_pattern_mobile.png);
  background-color: #002937;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #ffffff;
  padding-bottom: 55px;
}

.FeaturedProject {
  font-family: "Oxygen", sans-serif;
  font-size: 16pt;
  line-height: 1.6em;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.FeaturedProject h3 {
  font-family: "Museo Sans Rounded", sans-serif;
  font-size: 20pt;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

.FeaturedScreenshot {
  margin-top: 50px;
  width: 300px;
}

.CaseStudyButton {
  text-align: center;
}

.button {
  background-color: #18EBED;
  border-radius: 10px;
  color: #000000;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 16pt;
  font-weight: Bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: none;
}

/*Bio page*/

.AboutBody2 {
  background-color: #E1E8F0;
}

.AboutContent {
  background-color: #E1E8F0;
  font-size: 18pt;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5em;
  padding-left: 8.33%;
  margin-top: 80px;
  padding-bottom: 50px;
  padding-right: 8.33%;
  width: 83.33%;
}

.AboutContent h2 {
  border-bottom: 2px solid #18EBED;
  font-size: 36pt;
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

/*About Body*/

.portrait {
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 100%;
}

/*Hamburger Menu*/
/*Huge thank you to Erik Terwan https://codepen.io/erikterwan/pen/EVzeRP*/

.BurgerMenu {
  position: relative;
  width: 100%;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 35px;
  right: 8.33%;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

.BurgerMenu a
{
  text-decoration: none;
  color: #ffffff;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  right: 0%;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-left: 92%;
  position: relative;

  background: #18EBED;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into an X. */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #18EBED;
}

  /* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 91.67%;
  left: 0%;
  top: -50px;
  padding-top: 50px;
  padding-bottom: 100%;
  padding-left: 8.33%;
  margin-left: 8.33%;
  background: #002937;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0 0;
  transform: translate(-107%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.MenuLinks {
  line-height: 50px;
  font-family: "Rubik", sans-serif;
  font-size: 17pt;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.AboutBody {
  background-color: #E1E8F0;
  background-image: url(../graphics/MobileTopGraphic.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 110px;
  float: none;
}

/*case study TOC*/
#menu span {
  background-color: #ffffff;
  border-top: 50px;
  margin-top: 20px;
  margin-left: 0px;
  opacity: 20%;
  width: 300px;
}

/*highlight general*/
.HighlightCaseStudyBody {
  background-color: #E1E8F0;
  font-family: "Oxygen", sans-serif;
  font-size: 16pt;
  line-height: 150%;
  /*background-color: #E1E8F0;*/
}

.HighlightCaseStudyBody h3 {
  font-family: "Museo Sans Rounded", sans-serif;
  font-size: 22pt;
  line-height: 150%;
  margin-bottom: 35px;
}

.HighlightCaseStudyBody h2 {
  font-family: "Museo Sans Rounded", sans-serif;
  font-size: 24pt;
  font-weight: 500;
  margin-bottom: 20pt;
  text-align: center;
}

.DesktopTOC {
  display: none;
}

/*highlight opening*/
.opening {
  background-color: #E1E8F0;
  margin-bottom: 25px;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.opening h1 {
  border-bottom: 2px solid #18EBED;
  padding-bottom: 10px;
}

.opening2 {
  background-color: #ffffff;
  margin-bottom: 25px;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.opening h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 32pt;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}

.opening span {
  background-color: #18EBED;
  border-top: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.HighlightOpener {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

/*Highlight Discovery*/
.DiscoveryTop {
  background-color: #D3ECFC;
  background-image: url(../graphics/Discovery_BG.png);
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-top: 25px;
  padding-right: 8.33%;
}

.Discovery2 {
  padding-top: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  width: 83.33%;
  background-color: #ffffff;
}

.DiscoveryImage {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

/*Highlight IA*/
.IATop {
  background-color: #D3ECFC;
  background-image: url(../graphics/IA_BG.png);
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.HighlightPersona {
  line-height: 150%;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
  width: 83.33%;
}

.HighlightPersona b {
  font-weight: bold;
  line-height: 2em;
}

.HighlightPersona li {
  list-style-type: decimal;
  margin-left: 40px;
  margin-top: 5px;
  padding-left: 5px;
}

.HighlightPersona1 {
  background-color: #FDE0DD;
}

.HighlightPersona2 {
  background-color: #FEF1DE;
}

.PersonaPortrait {
  width: 221px;
}

.IAMain {
  background-color: #ffffff;
  background-image: url(../graphics/hexagon-background.png);
  background-position: center;
  background-position: top;
  background-repeat: repeat;
  line-height: 150%;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.IAImage {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.WireframeSketches {
  margin-bottom: 20pt;
  margin-top: 20pt;
}

.IASketch {
  width: 100%;
}

.IAMain ul {
  list-style-type: circle;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 5px;
}

/*Highlight Visual Design*/
.VDTop {
  background-color: #D3ECFC;
  background-image: url(../graphics/Branding_BG.png);
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.VDTop ul {
  list-style-type: circle;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 5px;
}

.VDMain {
  background-color: #ffffff;
  background-image: url(../graphics/hexagon-background.png);
  background-position: center;
  background-position: top;
  background-repeat: repeat;
  line-height: 1.5em;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-top: 25px;
  padding-right: 8.33%;
}

.VDImage {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.StyleGuide {
  background-color: #B6E3FA;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 20px;
}

.StyleGuideImage {
  margin-top: 20px;
  width: 100%;
}

.ControllerImage {
  background-color: #ffffff;
  margin-top: -10px;
  width: 100%;
}

/*Highlight Prototyping and Testing*/
.ProtoTest {
  background-color: #ffffff;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 50px;
}

.ProtoTest ul {
  list-style-type: circle;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 5px;
}

.ProtoTestImage {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.ProtoTest .text {
  font-size: 10pt;
  margin-bottom: 15px;
  margin-top: -15px;
}

.mySlides {
  display: block;
}

/*Highlight Conclusion*/
.Conclusion {
  background-color: #D3ECFC;
  background-image: url(../graphics/Branding_BG.png);
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 50px;
}

.Conclusion b {
  font-weight: bold;
  line-height: 1.5em;
}

.Conclusion ul {
  list-style-type: circle;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-top: 5px;
  padding-left: 5px;
}

/*Footer stuff*/
footer {
  background-color: #18EBED;
  height: 100px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 30px;
  text-align: center;
}

.BottomLogoImage {
  width: 18%;
  max-width: 55px;
  padding-bottom: 20px;
}

.BottomNavLink {
  width: 14%;
  max-width: 55px;
  max-height: 55px;
  margin: 10px;
}

/*Media Queries*/

/*for tablets*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* text */
  h1 {
    font-size: 64pt;
    line-height: 1.5em;
  }

  h2 {
    font-size: 40pt;
    padding-top: 20px;
    padding-bottom: 25px;
    line-height: 1.5em;
  }

  /* Logo properties */
  .TopLogo {
    top: 35px;
    left: 8.33%;
    z-index: 3;
  }

  .banner {
    font-size: 20pt;
    font-weight: bold;
    left: 8.33%;
    line-height: 150%;
    position: absolute;
    top: 15.15%;
    width: 83.33%;
  }

  /* Featured Project Cards*/
  .FeaturedProject {
    width: 413px;
    margin-bottom: 20px;
  }

  .FeaturedProject h3 {
    font-size: 24pt;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .FeaturedScreenshot {
    align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 413px;
  }

  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -10px;
    right: 3.5%;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*About Body*/
  .portrait {
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 350px;
    float: left;
    margin-right: 50px;
  }

  .prev, .next, .dot {
    display: none;
  }

  /*Footer stuff*/

  .BottomLogoImage {
    padding-top: 20px;
    max-width: 64px;
    max-height: 22px;
  }

  #contact_anchor {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 8.33%;
    padding-right: 8.33%;
    height: 100px;
    align-items: center;
  }

  .ContactLinks {
    display: flex;
    justify-content: flex-end;
  }

  .BottomNavLink {
    height: 40px;
    width: 40px;
  }

}

/*for computers*/
@media only screen and (min-width: 991px) {
  /* text */
  h1 {
    font-size: 50pt;
    line-height: 1.5em;
  }

  h2 {
    font-size: 40pt;
    padding-top: 0px;
    padding-bottom: 15px;
    line-height: 1.25em;
  }

  .banner h2 {
    width: 500px;
  }

  /*Home Page*/
  .HomeBackground {
    background-image: url(../graphics/digitaltouch_bg.png);
    background-size: 100%;
    padding-bottom: 65%;
    padding-right: 17%;
  }

  .banner {
    left: 25%;
    line-height: 1.25em;
    position: absolute;
    top: 10%;
    width: 50%;
  }

  .FeaturedProject {
    display: inline-block;
    margin-left: 75px;
    margin-right: 75px;
    top: 0px;
  }

  .HomeBgTexture {
    background-image: url(../graphics/background_pattern.png);
    background-color: #002937;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #ffffff;
    display: flex;
    padding-bottom: 55px;
    justify-content: center;
  }

  .MenuTop {
    display: none;
  }

  .TopLogo {
    margin-left: 8%;
  }

  /*undoing burger menu*/
  .BurgerMenu {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0%;
  }

  #menuToggle {
    display: inline;
    position: absolute;
    top: 35px;
    right: 17%;
    width: 50px;
  }

  .BurgerMenu a {
    color: #18EBED;
    position: relative;
    margin-left: 80px;
  }

  #menuToggle input {
    display: none;
  }

  #menuToggle span {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: flex-end;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 0%;
    margin-left: 0%;
    background: none;
    list-style-type: none;
  }

  .MenuLinks {
    line-height: 50px;
    display: inline;
    font-family: "Rubik", sans-serif;
    font-size: 17pt;
  }

  .MenuLogoLink {
    display: none;
  }

  /*Bio page*/
  .AboutContent {
    display: grid;
    grid-template-columns: 43.45% auto;
    grid-template-rows: auto auto 0px auto;
    grid-column-gap: 70px;
    grid-row-gap: 18px;
    line-height: 1.6em;
    padding-left: 17%;
    padding-bottom: 50px;
    padding-right: 17%;
    width: 66%;
  }

  .AboutContent h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 2px solid #18EBED;
    font-size: 36pt;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
  }

  .AboutContent p {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    display: flex;
  }

  .portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-bottom: 30px;
    margin-top: 0px;
    max-width: 413px;
    width: 100%;
  }

  .AboutBody {
    background-image: url(../graphics/Top_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 110px;
    float: none;
  }

  /*Footer stuff*/

  .BottomLogoImage {
    padding-top: 20px;
    max-width: 64px;
    max-height: 22px;
  }

  #contact_anchor {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 17%;
    padding-right: 17%;
    height: 100px;
    align-items: center;
  }

  .ContactLinks {
    display: flex;
    justify-content: flex-end;
  }

  .BottomNavLink {
    height: 40px;
    width: 40px;
  }

  /*Highlight Case Study*/
  .HighlightNav {
    display: none;
  }

  /*highlight general*/
  .HighlightCaseStudyBody {
    background-color: #E1E8F0;
    font-size: 18pt;
  }

  .HighlightCaseStudyBody h3 {
    font-size: 24pt;
    font-weight: 500;
  }

  .HighlightCaseStudyBody h2 {
    font-size: 28pt;
    font-weight: 500;
    margin-bottom: 20pt;
    text-align: center;
  }

  .DesktopTOC {
    align-items: center;
    background-color: #A0BBD6;
    display: flex;
    height: 80px;
    justify-content: space-between;
    list-style: none;
    padding-left: 15%;
    padding-right: 15%;
  }

  .DesktopTOC a {
    color: #000000;
    font-family: "Rubik", sans-serif;
    font-size: 20pt;
    font-weight: medium;
    text-decoration: none;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;;
    padding-left: 25px;
    padding-right: 25px;
  }

  .DesktopTOC a:hover {
    color: #18EBED;
    background-color: #01283A;
  }

  /*highlight opening*/
  .opening {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 49.3%;
  }

  .opening h1 {
    border-bottom: 2px solid #18EBED;
    padding-bottom: 10px;
  }

  .opening2 {
    background-color: #ffffff;
    margin-bottom: 0px;
    padding-left: 25.35%;
    padding-right: 25.35%;
    padding-bottom: 50px;
    padding-top: 25px;
    width: 49.3%;
  }

  .opening h1 {
    font-size: 36pt;
    font-weight: Light;
    margin-top: 30px;
    text-align: center;
  }

  .opening span {
    background-color: #18EBED;
    border-top: 2px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .HighlightOpener {
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    max-height: 369px;
  }

  /*Highlight Discovery*/
  .DiscoveryTop {
    background-color: #DEF2FD;
    background-image: url(../graphics/Discovery_background_desktop.png);
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .Discovery2 {
    padding-top: 25px;
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
    background-color: #ffffff;
  }

  .DiscoveryImage {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  /*Highlight IA*/
  .IATop {
    background-color: #DEF2FD;
    background-image: url(../graphics/IA_BG_Desktop.png);
    padding-bottom: 25px;
    padding-left: 25.35%;
    padding-right: 25.35%;
    padding-top: 25px;
    width: 49.3%;
  }

  .Personas {
    display: flex;
  }

  .IAMain {
    padding-left: 25.35%;
    padding-right: 25.35%;
    padding-top: 25px;
    width: 49.3%
  }

  .IAImage {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .WireframeSketches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20pt;
    margin-top: 20pt;
  }

  .IASketch {
    max-width: 350px;
  }

  .IAMain ul {
    list-style-type: circle;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 5px;
  }

  /*Highlight Visual Design*/
  .VDTop {
    background-color: #DEF2FD;
    background-image: url(../graphics/Branding_BG_desktop.png);
    padding-bottom: 25px;
    padding-left: 25.35%;
    padding-right: 25.35%;
    padding-top: 25px;
    width: 49.3%;
  }

  .VDTop ul {
    list-style-type: circle;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 5px;
  }

  .VDMain {
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .VDImage {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .StyleGuide {
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .StyleGuideImage {
    margin-top: 20px;
    width: 100%;
  }

  .ControllerImage {
    background-color: #ffffff;
    margin-top: -10px;
    width: 100%;
  }

  /*Highlight Prototyping and Testing*/
  .ProtoTest {
    padding-left: 25.35%;
    padding-right: 25.35%;
  }

  .ProtoTestImage {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .ProtoTest .text {
    font-size: 14pt;
  }


  /* hifi mockup carousel */
  .slideshow-container {
    box-sizing:border-box;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    background-color: rgba(228, 234, 240, .5);
    cursor: pointer;
    position: absolute;
    top: 58%;
    width: 100px;
    height: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(24,235,237,0.9);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #E4EAF0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #18EBED;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  /*Highlight Conclusion*/
  .Conclusion {
    background-color: #DEF2FD;
    background-image: url(../graphics/Conclusion_Background_desktop.png);
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .Conclusion b {
    font-weight: bold;
    line-height: 1.5em;
  }

  .Conclusion ul {
    list-style-type: circle;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-top: 5px;
    padding-left: 5px;
  }

}
