@media screen and (max-width: 768px) {

  .BurgerMenu a:not(:first-child) {
    display: none;
  }

  .BurgerMenu a.icon {
    float: right;
    display: block;
  }

  .BurgerMenu.responsive {
    position: relative;
    background-color: #002937;
  }

  .BurgerMenu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .BurgerMenu.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: #002937;
  }
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Home Page*/
.HomeBackground {
  background-image: url(../graphics/digitaltouch_bg_mobile.png);
  background-color: #002937;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: 100%;
  color: #f7f7f7;
  height: 580px;
  position: relative;
  display: block;
}

header {
  display: block;
  height: 100px;
}

.HomeTransitionGradient {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,41,55,1));
  height: 60px;
  margin-top: -110px;
}

.banner {
  display: block;
  position: relative;
  color: #f7f7f7;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  line-height: 150%;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.banner h3 {
  font-size: 22px;
  font-weight: bold;
}

.about-slide-text p {
  text-align: left;
}

.cs-prev, .cs-next {
  border-radius: 0 3px 3px 0;
  color: #18EBED;
  font-size: 3.6rem;
  font-weight: bold;
  margin: 0 4%;
  padding: 5px 5px;
  position: absolute;
  top: 140px;
  user-select: none;
}

.cs-next {
  right: 0;
}

.cs-prev {
  left: 0;
}

.cs-prev:hover, .cs-next:hover {
  text-shadow: 0 0 15px #18EBED;
}

/* Portfolio banner properties*/
.PortfolioBanner {
  background-color: #002937;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.5px;
  height: auto;
  line-height: 45px;
  text-align: center;
}

.PortfolioBanner p {
  font-size: 20px;
  margin-bottom: 40px;
}

/* Featured Project Cards*/
.HomeBgTexture {
  background-color: #002937;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #f7f7f7;
  padding-bottom: 20px;
  padding-top: 20px;
}

.ImageRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.SmallIcons {
  max-height: 75px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.FeaturedProject {
  font-family: "Oxygen", sans-serif;
  font-size: 21.33px;
  line-height: 1.6em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-style: solid;
  border-radius: 2px;
  border-color: #18EBED;
  border-width: medium;
}

.FeaturedProject p {
  margin-left: 10px;
  margin-right: 10px;
}

.FeaturedTitle2 {
  color: #b3ffda;
  weight: 900;
}

.FeaturedProject h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 26.66px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.ProjectScreenshot {
  margin-top: 50px;
  width: 300px;
}

.FeaturedScreenshot {
  margin-top: 15px;
  width: 300px;
  height:auto;
}

.CaseStudyButton {
  text-align: center;
}

.Featuredbutton {
  background: rgb(13,115,116);
  background: linear-gradient(0deg, rgba(13,115,116,1) 0%, rgba(24,235,237,1) 50%, rgba(210,255,255,1) 100%);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #002532;
  color: #000000;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 21.33px;
  font-weight: Bold;
  padding: 2vw 10vw;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: none;
}

.button {
  background: rgb(13,115,116);
  background: linear-gradient(0deg, rgba(13,115,116,1) 0%, rgba(24,235,237,1) 50%, rgba(210,255,255,1) 100%);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #002532;
  color: #000000;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 21.33px;
  font-weight: Bold;
  padding: 2vw 10vw;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: none;
}

/*Bio page*/

.AboutBody2 {
  background-color: #E1EFF6;
}

.AboutBackground  {
  background-image: url(../graphics/about_bg_color_fixed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.AboutContent {
  background-color: rgba(0,41,55,.90);
  font-size: 24px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.7em;
  padding-left: 8.33%;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-right: 8.33%;
  width: 83.33%;
  font-weight: 700;
  color: #f7f7f7;
}

.AboutContent a:link {
  color: #18EBED;
}

.AboutContent a:visited {
  color: #18a2a3;
}

.ArticleContent {
  background-color: #f7f7f7;
  font-size: 24px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5em;
  padding-left: 8.33%;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-right: 8.33%;
  width: 83.33%;
}

.AboutContent h2 {
  border-bottom: 2px solid #002938;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.AboutContent p {
  margin-bottom: 25px;
}

.ArticleContent h2 {
  font-size: 44px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.ArticleContent ul {
  list-style-type: disc;
  padding-left: 8.33%;
  padding-right: 8.33%;
  line-height: 1.8em;
}

.ArticleContent p {
  line-height: 2em;
}

.ResumeButton {
  text-align: center;
  background-color: rgba(0,41,55,.90);
}

/*About Body*/

.portrait {
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 100%;
}

/*Burger Menu Stuff*/

.MenuTop {
  padding: 0px 10px;
}

.BurgerMenu {
  z-index: 99;
}

.NavLogoFloat {
  float: left;
}

.BurgerMenu img {
  padding-top: 8px;
}

.BurgerMenu a {
  float: left;
  display: block;
  color: #18EBED;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.BurgerMenu a:hover {
  background-color: #10d2d5;
  color: #000000;
}

.BurgerMenu a.Active {
    background-color: #18EBED;
    color: #000000;
}

.BurgerMenu .icon {
    display: none;
}

.DesktopOnly {
  display: none;
}

.DesktopExclusive {
  display: none;
}

.CaseStudyContents {
  background-color: #002937;
}

.CaseStudyContents b {
  font-weight: bold;
  line-height: 1.5em;
}

.CaseStudyContents ul {
  list-style-type: disc;
  padding-left: 8.33%;
  padding-right: 8.33%;
  line-height: 1.5em;
}

.AboutBody {
  background-color: #E1E8F0;
  background-image: url(../graphics/mobile_top_graphic.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 95px;
  float: none;
}

.Content3D {
  padding-left: 8.33%;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-right: 8.33%;
  width: 83.33%;
  background-color: #002937;
}

.Text3D {
  margin-left: 8.33%;
  margin-right: 8.33%;
}

.WalkthroughVid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
  width: 70vw;
  height: 70vh;
  max-width: 1280px;
  max-height: 720px;
}

.WalkthroughButton {
  text-align: center;
}

.ProjectListBackground {
  background-image: url(../graphics/background_pattern_mobile.png);
  background-color: #002937;
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100%;
}

.ProjectListBackground h2 {
  font-size: 40px;
  font-family: "Oxygen", sans-serif;
  color: #f7f7f7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ProjectCards {
    color: #f7f7f7;
    padding-bottom: 55px;
}

.ProjCard h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 26.66px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ProjCard {
  font-family: "Oxygen", sans-serif;
  font-size: 21.33px;
  line-height: 1.6em;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.MusingContainer {
  border: 2px solid #000000;
  padding: 5px;
  background-color: rgba(0,41,55,.8);
}

.MusingContainer h3 {
  color: #f7f7f7;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.MusingContainer p {
  color: #f7f7f7;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.MusingLink {
  width: 88.33%;
}

/*case study TOC*/
#menu span {
  background-color: #f7f7f7;
  border-top: 50px;
  margin-top: 20px;
  margin-left: 0px;
  opacity: 20%;
  width: 300px;
}

/*highlight general*/

.DesktopTOC {
  display: none;
}

.HighlightBTTChevron {
  max-width: 30px;
}

/*highlight opening*/

.HighlightNav {
  display: block;
}

.opening h1 {
  border-bottom: 2px solid #002938;
  padding-bottom: 10px;
}

.ToolLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.HighlightToolLogo {
  width: 40px;
  padding: 15px;
}

/*Back to Top button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-style: solid;
  border-width: 2px;
  border-color: #002532;
  outline: none; /* Remove outline */
  background-color: #18EBED; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #0B8889; /* Add a dark-grey background on hover */
}

.CSSWOT {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 37, 50);
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.CSSWOT p {
  padding-left: 8.33%;
  padding-right: 8.33%;
}

.CSSWOT ul{
  list-style-type: square;
  padding-left: 8.33%;
  padding-right: 8.33%;
  line-height: 1.5em;
}

.SWOTImage {
  background-color: #E1E8F0;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.DiscoveryImage {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.CSContent {
  background-color: #002937;
  line-height: 1.5em;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-top: 25px;
  padding-right: 8.33%;
}

.VDImage {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.HighlightLogos {
  border-style: solid;
  border-width: 3px;
  border-color: #E5E5E5;
}

.StyleGuide {
  background-color: #B6E3FA;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 20px;
}

.StyleGuide a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 230px;
}

.StyleGuideImage {
  margin-top: 20px;
  width: 100%;
}

.ControllerImage {
  background-color: #f7f7f7;
  margin-top: -10px;
  width: 100%;
}

/*Highlight Prototyping and Testing*/
.ProtoTest {
  background-color: #002937;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 50px;
}

.ProtoTest ul {
  list-style-type: circle;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 5px;
}

.ProtoTestImage {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.ProtoTest .text {
  font-size: 13.33px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.mySlides {
  display: block;
  height: 400px;
}

/*Highlight Conclusion*/
.Conclusion {
  background-color: #D3ECFC;
  background-image: url(../graphics/branding_bg.png);
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 50px;
}

.Conclusion p {
  padding-bottom: 15px;
}

.Conclusion b {
  font-weight: bold;
  line-height: 1.5em;
}

.Conclusion ul {
  list-style-type: circle;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-top: 5px;
  padding-left: 5px;
}

/*Iron Silver Salt general*/
.CaseStudyBody {
  background-color: #002937;
  font-family: "Oxygen", sans-serif;
  font-size: 21.33px;
  line-height: 150%;
  color: #f7f7f7;
  /*background-color: #E1E8F0;*/
}

.CaseStudyBody h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 29.33px;
  line-height: 150%;
  margin-bottom: 35px;
  margin-top: 30px;
}

.CaseStudyBody h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 26.66px;
  text-align: center;
}

/*Iron Silver Salt opening*/

.CSopening {
  background-color: #002937;
  padding-bottom: 50px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.CSopening p {
  padding-bottom: 10px;
}

.CSopening a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 320px;
}

.CSopening ol {
  list-style-type: decimal;
  padding-left: 30px;
  line-height: 160%;
  padding-bottom: 15px;
}

.ISSOpener {
  height: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.CSopening2 {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.CSopening2 p {
  padding-bottom: 10px;
}

.ISSmobilehome {
  display: none;
}

.CaseStudyContents h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 42.66px;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
  border-bottom: 2px solid #18EBED;
  padding-bottom: 10px;
  line-height: 1.3em;
  color: #f7f7f7;
}

.CaseStudyContents sub {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  line-height: 1.3em;
  align-content: center;
  color: #f7f7f7;
}

.CSopening span {
  background-color: #f7f7f7;
  border-top: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

/*Iron Silver Salt Discovery*/
.CSSectionHeader {
  padding-bottom: 20px;
  padding-left: 8.33%;
  padding-top: 25px;
  padding-right: 8.33%;
  background-color: #002937;
}

.CSSectionHeader p {
  padding-bottom: 10px;
}

.ISSPersona {
  background-color: #f7f7f7;
}

.PersonaPortrait {
  margin-left: auto;
  margin-right: auto;
  width: 221px;
}

.WireframeSketches {
  margin-bottom: 20px;
  margin-top: 20px;
}

.ISSIASketch {
  width: 100%;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}

.ISSUserStories {
  background-color: #E1E8F0;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 8.33vw;
  padding-right: 8.33vw;
}

.ISSUserStoryButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 320px;
}

.StyleGuideImage {
  margin-top: 20px;
  width: 100%;
}

.CSContent a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 230px;
  text-align: center;
}

.ISSVDLogo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 293px;
}

/*Iron Silver Salt Prototyping and Testing*/

.ProtoTest .text {
  font-size: 13.33px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.ISSHiFiScreen {
  width: 100%;
}

.ISSProtoTest {
  background-color: #002937;
  background-image: url(../graphics/iss_header_bg.jpg);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8.33%;
  padding-right: 8.33%;
}

.ISSTestingChange p {
  padding-bottom: 10px;
}

.ISSTestingChange b {
  font-weight: bold;
}

/*Footer stuff*/

.prefooter {
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 21.33px;
  line-height: 1.5em;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f7f7f7;
  background-color: #002532;
}

.prefootertext {
  width: 83.34%;
  text-align: center;
  padding-left: 8.33%;
  padding-right: 8.33%;
}

footer {
  background-color: #18EBED;
  height: 100px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.BottomLogoImage {
  width: 18%;
  max-width: 55px;
  padding-bottom: 20px;
}

.BottomNavLink {
  width: 14%;
  max-width: 55px;
  max-height: 55px;
  padding: 5px;
  margin: 5px;
}

/*TRGF stuff*/
.TRGFopening2 {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 25px;
}

.TRGFopening2 ul {
  list-style-type: disc;
  padding-left: 30px;
  line-height: 160%;
  padding-bottom: 20px;
}

.TRGFopening2 p {
  padding-bottom: 20px;
}

.IntermissionImage {
  width: 100%;
  background-color: #002937;
}

.BrainBulb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width: 300px;
}

.trgf_ui {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 83.33%;
  max-width: 400px;
}

.trgf_dev_screen {
  width: 83.33vw;
}

.img-comp-container {
  margin-top: 30px;
}

.TRGFSketchPNG {
width: 100%;
}

.trgfFinalScreen {
  width:100%;
}

.trgfUI {
  background-color: #E1E8F0;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 8.33vw;
  padding-right: 8.33vw;
}

.trgfUI ul {
  list-style-type: disc;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trgfCloser {
  display: block;
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/*for tablets*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* text */
  h1 {
    font-size: 85.33px;
    line-height: 1.5em;
  }

  h2 {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 25px;
    line-height: 1.5em;
  }

  .HomeBackground {
    background-image: url(../graphics/digitaltouch_bg_tablet.png);
    background-position: center;
    height: 680px;
  }

  .HomeTransitionGradient {
    height: 300px;
    margin-top: -273px;
  }

  .banner {
    line-height: 150%;
    position: relative;
    padding-top: 0px;
    width: 450px;
    z-index: 0;
  }

  .cs-prev, .cs-next {
    top: 200px;
  }

  .button:hover {
    background: rgb(210,255,255);
    background: linear-gradient(0deg, rgba(210,255,255,1) 0%, rgba(24,235,237,1) 50%, rgba(13,115,116,1) 100%);
    color: #000000;
  }

  .DesktopOnly {
    display: flex;
  }

  .mySlides p {
    text-align: center;
  }

  /* Featured Project Cards*/
  .FeaturedProject {
    width: 413px;
    margin-bottom: 20px;
  }

  .FeaturedProject h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .ProjCard h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .ProjectScreenshot {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 413px;
  }

  .FeaturedScreenshot {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 413px;
  }

  .WalkthroughVid {
    display: flex;
  }

  .MobileOnly {
    display: none;
  }

  .ProjCard {
    width: 413px;
    margin-bottom: 20px;
  }

  /*About Body*/
  .portrait {
    margin-bottom: 30px;
    max-width: 350px;
    margin-top: 10px;
    float: left;
    margin-right: 50px;
  }

  .prev, .next, .dot {
    display: none;
  }

  /*Highlight Case Study*/
  .HighlightNav {
    display: none;
  }

  .DesktopTOC {
    align-items: center;
    background-image: linear-gradient(to right, #092B3D , #051C29);
    display: flex;
    height: 80px;
    justify-content: space-between;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
  }

  .DesktopTOC a {
    color: #18EBED;
    font-family: "Rubik", sans-serif;
    font-size: 26.66px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;;
    padding-left: 25px;
    padding-right: 25px;
  }

  .HighlightToolLogo {
    width: 60px;
    padding: 15px;
  }

  .CSopening ol {
    padding-left: 60px;
  }

  /*Footer stuff*/

  footer {
    padding-bottom: 0px;
  }

  .prefootertext {
    text-align: center;
    width: 49.34%;
    padding-left: 25.33%;
    padding-right: 25.33%;
  }

  .BottomLogoImage {
    padding-top: 20px;
    max-width: 64px;
    max-height: 22px;
  }

  #contact_anchor {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 8.33%;
    padding-right: 8.33%;
    height: 100px;
    align-items: center;
  }

  .ContactLinks {
    display: flex;
    justify-content: flex-end;
  }

  .BottomNavLink {
    height: 40px;
    width: 40px;
  }

  .trgf_ui {
    width: 400px;
  }

  .trgfUI ul {
    padding-left: 25px;
  }

}

/*for computers*/
@media only screen and (min-width: 991px) {
  /* text */
  h1 {
    font-size: 66.66px;
    line-height: 1.5em;
  }

  h2 {
    font-size: 44px;
    padding-top: 0px;
    padding-bottom: 15px;
    line-height: 1.25em;
  }

  .HomeTransitionGradient {
    height: 300px;
    margin-top: -270px;
  }

  .banner h2 {
    width: 450px;
    text-align: center;
  }

  .DesktopOnly {
    display: flex;
  }

  .DesktopExclusive {
    display: flex;
  }

  /*Home Page*/
  .HomeBackground {
    background-image: url(../graphics/digitaltouch_bg.jpg);
    background-size: 100%;
    background-position: top;
    height: 650px;
  }

  .BurgerMenu {
    padding-left: 12%;
    padding-right: 12%;
  }

  .banner {
    line-height: 1.25em;
    padding-top: 0px;
    position: relative;
    width: 450px;
  }

  .cs-prev, .cs-next {
    top: 200px;
  }

  .FeaturedProject {
    position: relative;
    display: inline-block;
    top: 0px;
    width: 33vw;
    margin: 15px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    border-style: none;
  }

  .ProjectScreenshot {
    width: 450px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .FeaturedScreenshot {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .ProjectOverlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color: #002532;
    padding-top: 10%;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
  }

  .FeaturedOverlay {
    position: absolute;
    top: 0;
    height: 86%;
    width: 84%;
    opacity: 0;
    transition: .5s ease;
    background-color: #002532;
    margin-top: 9%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .ProjectOverlay h3 {
    text-align: center;
  }

  .FeaturedOverlay h3 {
    text-align: center;
  }

  .ProjectOverlay:hover {
  opacity: .95;
  }

  .FeaturedOverlay:hover {
  opacity: .95;
  }

  .button {
    padding: 1vw 5vw;
  }

  .button:hover {
    background: rgb(210,255,255);
    background: linear-gradient(0deg, rgba(210,255,255,1) 0%, rgba(24,235,237,1) 50%, rgba(13,115,116,1) 100%);
    color: #000000;
  }

  .Featuredbutton {
    width: 20vw;
    max-width: 300px;
    padding: 10px 0px;
  }

  .Featuredbutton:hover {
    background: rgb(210,255,255);
    background: linear-gradient(0deg, rgba(210,255,255,1) 0%, rgba(24,235,237,1) 50%, rgba(13,115,116,1) 100%);
    color: #000000;
  }

  .FeaturedProject p {
    font-size: 16px;
    line-height: 150%;
  }

  .ProjCard p {
    font-size: 16px;
    line-height: 150%;
  }

  .HomeBgTexture {
    background-color: #002937;
    color: #f7f7f7;
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .ProjectListBackground {
    background-image: url(../graphics/background_pattern.png);
    background-color: #002937;
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
  }

  .ProjectCards {

    color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    width: 1000px;
  }

  .ProjCard {
    position: relative;
    display: inline-block;
    top: 0px;
    left: -50px;
    width: 450px;
    margin: 20px;
  }

  .Text3D {
    margin-left: 17%;
    margin-right: 17%;
  }

  .WalkthroughVid {
    display: block;
  }

  .MobileOnly {
    display: none;
  }

  /*Bio page*/
  .AboutContent {
    line-height: 1.7em;
    padding-left: 17%;
    padding-bottom: 50px;
    padding-right: 17%;
    width: 66%;
    flex-direction: column;
  }

  .ArticleContent {
    padding-left: 27vw;
    padding-right: 27vw;
    width: 46vw;
  }

  .AboutContent h2 {
    border-bottom: 2px solid #002938;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
  }

  .ArticleContent h2 {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .AboutContent p {
    display: block;
    padding-top: auto;
    padding-bottom: auto;
  }

  .ArticleContent p {
    width: 100%;
    display: flex;
  }

  .PortraitContainer {
    display: flex;
    max-width: 413px;
    width: 40%;
    margin-right: 5%;
  }

  .portrait {
    height: auto;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 350px;
  }

  .AboutTextContainer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 750px;
  }

  .AboutBody {
    background-image: url(../graphics/Top_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 95px;
    float: none;
  }

  /*Footer stuff*/

  footer {
    padding-bottom: 0px;
  }

  .prefootertext {
    text-align: center;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .BottomLogoImage {
    padding-top: 20px;
    max-width: 64px;
    max-height: 22px;
  }

  #contact_anchor {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 12%;
    padding-right: 12%;
    height: 100px;
    align-items: center;
  }

  .ContactLinks {
    display: flex;
    justify-content: flex-end;
  }

  .BottomNavLink {
    height: 40px;
    width: 40px;
  }

  /*Highlight Case Study*/
  .HighlightNav {
    display: none;
  }

  .DesktopTOC {
    align-items: center;
    background-image: linear-gradient(to right, #092B3D , #051C29);
    display: flex;
    height: 100px;
    justify-content: space-between;
    list-style: none;
    padding-left: 15%;
    padding-right: 15%;
  }

  .DesktopTOC a {
    color: #18EBED;
    font-family: "Rubik", sans-serif;
    font-size: 26.66px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 58px;
    margin-bottom: 58px;

  }

  .DesktopTOC a:hover {
    text-decoration: underline;
  }

  .opening h1 {
    font-size: 48px;
    font-weight: normal;
    margin-top: 30px;
    text-align: center;
  }

  .opening span {
    background-color: #18EBED;
    border-top: 2px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .ToolLinks {
    justify-content: flex-start;
  }

  .HighlightToolLogo {
    width: 60px;
    padding: 10px;
  }

  .CSSWOT {
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .CSSWOT ul{
    list-style-type: square;
    padding-left: 8.33%;
    padding-right: 8.33%;
    line-height: 1.5em;
  }

  .SWOTImage {
    background-color: rgb(0, 37, 50);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
  }

  .DiscoveryImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /*Highlight IA*/
  .IATop {
    background-color: #DEF2FD;
    background-image: url(../graphics/IA_BG_Desktop.png);
    background-repeat: repeat;
    padding-bottom: 25px;
    padding-left: 25.35%;
    padding-right: 25.35%;
    padding-top: 25px;
    width: 49.3%;
  }

  .WireframeSketches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .IAMain ul {
    list-style-type: circle;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 5px;
  }

  .CSContent {
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .VDImage {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }


  .StyleGuide {
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .StyleGuideImage {
    margin-top: 20px;
    width: 100%;
  }

  .ControllerImage {
    background-color: #f7f7f7;
    margin-top: -10px;
    width: 100%;
  }

  /*Highlight Prototyping and Testing*/
  .ProtoTest {
    padding-left: 25.35%;
    padding-right: 25.35%;
  }

  .ProtoTestImage {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .ProtoTest .text {
    font-size: 18.66px;
  }


  /* hifi mockup carousel */
  .slideshow-container {
    box-sizing:border-box;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides p {
    text-align: center;
  }

  /* Next & previous buttons */
  .prev, .next {
    background-color: rgba(228, 234, 240, .8);
    cursor: pointer;
    position: absolute;
    top: 58%;
    width: 100px;
    height: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: -100px;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: -100px;
  }

  /* On hover, add a background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(24,235,237,0.9);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #18EBED;
    border-radius: 50%;
    border-color: #000000;
    border-width: medium;
    border-style: solid;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #0B8889;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  /*Highlight Conclusion*/
  .Conclusion {
    background-color: #DEF2FD;
    background-image: url(../graphics/Conclusion_Background_desktop.png);
    background-repeat: repeat;
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .Conclusion b {
    font-weight: bold;
    line-height: 1.5em;
  }

  .Conclusion ul {
    list-style-type: circle;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-top: 5px;
    padding-left: 5px;
  }

  /*Case Study general*/
  .CaseStudyBody {
    background-color: #002937;
    font-size: 18px;
    color: #f7f7f7;
  }

  .CaseStudyBody p {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .CaseStudyBody h3 {
    font-size: 26px;
    font-weight: 500;
    padding-top: 20px;
    margin-top: 0px;
  }

  .CaseStudyBody h2 {
    font-size: 37.33px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  /*Iron Silver and Salt opening*/
  .CSopening {
    padding-top: 45px;
    padding-left: 25.33%;
    padding-right: 25.33%;
    width: 49.3%;
  }

  .CaseStudyContents h1 {
    padding-bottom: 10px;
    font-size: 48px;
    font-weight: normal;
    margin-top: 30px;
    text-align: center;
  }

  .CSopening ol {
    padding-left: 60px;
  }

  .CSopening span {
    background-color: #f7f7f7;
    border-top: 2px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .CSopening2 {
    display: flex;
    flex-direction: row;
  }

  .ISSmobilehome {
    display: block;
  }

  .ISSOpener {
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  /*Iron Silver Salt Discovery*/
  .CSSectionHeader {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 70%;
  }

  .CSCompAnalysis {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-left: -25.33vw;
    margin-bottom: 30px;
    justify-content: center;
  }

  .DiscoveryImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%;
  }

  .ISSPersona {
    padding-left: 2%;
    margin-left:6.33%;
    padding-right: 2%;
    margin-right: 6.33%;
    font-size: 18px;
  }

  .IAMain ul {
    list-style-type: circle;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 5px;
  }

  .ISSUserStories {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 25.35vw;
    padding-right: 25.35vw;
    width:48.7vw;
  }

  .StyleGuide {
    padding-left: 25.35%;
    padding-right: 25.35%;
    width: 49.3%;
  }

  .StyleGuideImage {
    margin-top: 20px;
    width: 100%;
  }

  .TwoColumnContent {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  /*Iron Silver Salt Prototyping and Testing*/
  .ProtoTest {
    padding-left: 25.35%;
    padding-right: 25.35%;
  }

  .ProtoTestImage {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .ProtoTest .text {
    font-size: 18.66px;
  }

  .ISSHiFiScreen {
    width: 100%;
    padding-top: 40px;
  }

  .CSHoverImage {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 30vw;
    transform: translate(0px,-100%);
  }

  .ISSProtoTest {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25.35%;
    padding-right: 25.35%;
  }

  .CSHoverImage:hover {
    opacity: 1;
  }

  /*TRGF*/
  .TRGFSketches {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
  }

  .trgfFlex {
    width: 75vw;
    display: flex;
    flex-direction: row;
    margin-left: -25.25%
  }

  .TRGFSketchPNG {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 25vw;
  }

  /*Screenshot comparison stuff*/
  .trgf_dev_screen {
    width: 49.5vw;
    max-height: 500px;
  }
  .img-comp-container {
    position: relative;
    padding-bottom: 20px;
    height: 500px; /*should be the same height as the images*/
  }

  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }

  .img-comp-img img {
    display: block;
    vertical-align: middle;
  }

  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-image: url(../graphics/slidericon.png);
    opacity: 0.8;
    border-radius: 50%;
  }

  .TRGFopeningImage {
    padding-left: .3vw;
    width: 20vw;
  }

  .trgf_ui {
    width: 400px;
  }

  .trgfUI {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 25.35vw;
    padding-right: 25.35vw;
    width:48.7vw;
  }

  .trgfUI ul {
    padding-left: 30px;
  }

  /*Case Study grid layout stuff*/

  .GDCaseStudy {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
  }

  .all-col-grid-item {
    grid-column-end: span 6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .two-col-grid-item {
    grid-column-end: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  .three-col-grid-item {
    grid-column-end: span 2;
    display: flex;
    align-items: center;
    justify-content: Top;
    flex-direction: column;
  }

  .GDCaseStudy em {
    font-weight: bold;
    color: #b3ffda;
  }

}
